<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.rosstechshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CustomerLoginActivity"
            android:label="@string/activity_customer_login_title"
            android:parentActivityName=".WelcomeActivity">
        </activity>

        <activity
            android:name=".NewCustomerActivity"
            android:label="@string/activity_new_customer_title"
            android:parentActivityName=".CustomerLoginActivity">
        </activity>

        <activity
            android:name=".AddPaymentMethodActivity"
            android:label="@string/activity_new_customer_title"
            android:parentActivityName=".AddPaymentMethodActivity">
        </activity>

    </application>

</manifest>
